<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=.;Database=ClubspeedV8;Trusted_Connection=True;"/>
		<add key="UserName" value="support"/>
		<add key="BaseUrl" value="https://laptop-fp8k3301/api/index.php/"/>
	</appSettings>
</configuration>